.userInfo {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.userInfo_left {
  padding: 1rem;
}

.userInfo_right {
  padding-left: 1rem;
  width: 40%;
}

.userInfo_right h5 {
  display: flex;
  justify-content: flex-end;
}

.userinfo_image {
  border-radius: 50%;
}

.userGrid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.userGrid div {
  margin: 1rem;
  display: inline-block;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 400px;
  height: 700px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.user_button {
  margin: 1rem;
  padding: 1rem;
  width: 20%;
  background-color: #1877f2;
  color: white;
  font-size: 16px;
  border-radius: 0.5rem;
  border: none;
}

.social_names {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .userInfo {
    background-color: lightgreen;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .user_button {
    background-color: black;
    width: 100px;
  }
}
