body {
  margin: 0;
  box-sizing: border-box;
  /* height: 100vh; */
  width: 100vw;
  /* background: linear-gradient(45deg, #fff, #b3e0f5);  */
}
Link {
  text-decoration: none;
}

.main_image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feedButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  /* border: none; */
}
.feedButton::hover {
  /* border: outline; */
}

.feedLink {
  text-decoration: none;
}

.feed_button {
  border: none;
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #617cca;
  color: white;
  border-radius: 2rem;
}
.feed_button:hover {
  border: 2px solid #617cca;
  background-color: white;
  color: #617cca;
}

.gridForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
}

.listForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user_image {
  border-radius: 50%;
}
